; Ashes Environment Core V1.1
; Godot automatically loads res://override.cfg after project.godot.
; These are additive project settings used by global shader uniforms.

[shader_globals]

env_time01={
"type": "float",
"value": 0.5
}
env_daylight={
"type": "float",
"value": 1.0
}
env_night={
"type": "float",
"value": 0.0
}
env_sun_direction={
"type": "vec2",
"value": Vector2(-0.447214, 0.894427)
}
env_sun_color={
"type": "color",
"value": Color(1, 1, 1, 1)
}
env_wind={
"type": "float",
"value": 0.2
}
env_rain={
"type": "float",
"value": 0.0
}
env_wetness={
"type": "float",
"value": 0.0
}
env_fog={
"type": "float",
"value": 0.0
}
env_cloudiness={
"type": "float",
"value": 0.1
}
